server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: false

      routes:
        - id: sales-api
          uri: lb://sales-api
          predicates:
            - Path=/sales-api/**
          filters:
            - StripPrefix=1

        - id: inventory-api
          uri: lb://inventory-api
          predicates:
            - Path=/inventory-api/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}
